In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("lab.ipynb")

# Lab 6 â€“ APIs and Web Scraping

## DSC 80, Fall 2024

### Due Date: Friday, Nov 8th at 11:59 PM

## Instructions

Welcome to the sixth DSC 80 lab this quarter!

Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and Markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding will be done in an accompanying `lab.py` file that is imported into the current notebook, and **you will only submit that `lab.py` file**, not this notebook!

Some additional guidelines:
- **Unlike in DSC 10, labs will have both public tests and hidden tests.** The bulk of your grade will come from your scores on hidden tests, which you will only see on Gradescope after the assignment deadline.
- **Do not change the function names in the `lab.py` file!** The functions in the `lab.py` file are how your assignment is graded, and they are graded by their name. If you changed something you weren't supposed to, you can find the original code in the [course GitHub repository](https://github.com/dsc-courses/dsc80-2024-fa).
- Notebooks are nice for testing and experimenting with different implementations before designing your function in your `lab.py` file. You can write code here, but make sure that all of your real work is in the `lab.py` file, since that's all you're submitting.
- You are encouraged to write your own additional helper functions to solve the lab, as long as they also end up in `lab.py`.

**To ensure that all of the work you want to submit is in `lab.py`, we've included a script named `lab-validation.py` in the lab folder. You shouldn't edit it, but instead, you should call it from the command line (e.g. the Terminal) to test your work.** More details on its usage are given at the bottom of this notebook.

**Importing code from `lab.py`**:

* Below, we import the `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab` merely import the existing compiled python.

<div class="alert alert-block alert-danger">
<b>Note: </b> For this lab, due to system constraints, the code may take varying amounts of time to run on different machines. If you are able to submit to Gradescope and the code runs, then you have met the runtime requirements.
</div>

In [2]:
%reload_ext autoreload
# %autoreload 2

In [3]:
from lab import *

If the cell below returns a `ModuleNotFoundError`, please run `!pip install lxml` in a new cell. After `lxml` is succesfully installed, go to `kernel` then restart. Note that you will only need to run `!pip install lxml` once.

In [111]:
import os
import pandas as pd
import numpy as np
import requests
import bs4
import lxml

In [5]:
# !pip install lxml

## Question 1 â€“ Practice with HTML Tags ðŸ“Ž

In Question 2, you'll spend plenty of time parsing HTML source code. But before you get your hands dirty trying to extract information from HTML written by other people, it is a good idea to write basic HTML code yourself. This exercise will help you better understand how the code in a `.html` file is structured.

For this question, you'll create a very basic `.html` file, named `lab06_1.html`, that satisfies the following conditions:

- It must have `<title>` and `<head>` tags.
- It must also have `<body>` tags. Within the `<body>` tags, it must have:
    - At least two headers.
    * At least three images.
        - At least one image must be a local file.
        - At least one image must be linked to online source.
        - At least one image has to have default text when it cannot be displayed.
    * At least three references (hyperlinks) to different web pages.
    * At least one table with two rows and two columns.
    

Make sure to save your file as `lab06_1.html`, and save it in the same directory as `lab.py`. **When submitting this homework to Gradescope, make sure to also upload `lab06_1.html` along with the local image that you embedded in your site.** You can upload multiple files to Gradescope at a time.
   

***Notes***:
- You can write and view basic HTML with a Jupyter Notebook, using either a Markdown cell or by using the `IPython.display.HTML` function (which takes in a string of HTML and renders it).
- If you write your HTML code within a Jupyter Notebook, you should later copy your code into a text editor and save it with the `.html` extension. You could also write your HTML in a text editor directly.
- Be sure to open your final `.html` file in a browser and make sure it looks correct on its own.

In [6]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 60B0-457A

 Directory of C:\Users\najer\OneDrive - UC San Diego\fall_2024\dsc_80\dsc80-2024-fa\labs\lab06

11/09/2024  10:20 PM    <DIR>          .
11/09/2024  10:18 PM    <DIR>          ..
11/09/2024  10:20 PM    <DIR>          .ipynb_checkpoints
11/09/2024  10:20 PM            28,347 .OTTER_LOG
11/02/2024  07:31 PM    <DIR>          __pycache__
11/09/2024  10:44 AM          (98,942) books_data.csv
11/02/2024  07:28 PM    <DIR>          data
11/18/2023  06:36 PM             5,939 HokaOneOne-Logo.png
11/09/2024  10:20 PM           122,924 lab.ipynb
11/02/2024  07:27 PM             1,447 lab.py
11/04/2024  09:01 PM           (1,309) lab06_scratch.py
11/02/2024  07:27 PM             2,234 lab-validation.py
11/09/2024  10:03 PM             1,205 output.html
               8 File(s)        262,347 bytes
               5 Dir(s)  13,778,493,440 bytes free

<head><h1><title>Hello I'm Felix</title></h1></head>

<body>
    <head>secular cover of 01101111 01101110 01100101 </head>
    <div>

<p>please non-denominational deity help me</p>

</div>
    
<div>

<img src = "/HokaOneOne-Logo.png" alt="there should be an image here">
<img src = "HokaOneOne-Logo.png" >


<img>https://lastfm.freetls.fastly.net/i/u/300x300/d879c6dfd226879b9d60d08df3465ab3.jpg</img>

<a>https://learningds.org/ch/14/web_html.html</a>


<a>https://www.google.com/imgres?q=metallica%20super%20mario%2064%20soundfont%20and%20justice%20for%20all%20cover&imgurl=https%3A%2F%2Fi.ytimg.com%2Fvi%2FRXd75NJFmdE%2Fmaxresdefault.jpg&imgrefurl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DRXd75NJFmdE&docid=R5WSdoEFoPX1EM&tbnid=k2n9mLrsSm2fcM&vet=12ahUKEwiUhdiXor-JAxX-LkQIHc2mBsMQM3oECBsQAA..i&w=1280&h=720&hcb=2&ved=2ahUKEwiUhdiXor-JAxX-LkQIHc2mBsMQM3oECBsQAA
</a>

<a>https://emojipedia.org/loudly-crying-face</a>
</div>
    
<head>this is table arbitrarily arranged of sorta the lyrics</head>
<table>
<tbody>
            <tr>
                <th>index</th><th>prefix</th><th>suffix</th> 
            </tr>
            <tr>
                <td>0</td><td>can't afford tuition</td><td>lol</td>
            </tr>
            <tr>
                <td>1</td><td>nothing is real but</td><td>bills</td>
            </tr>
        </tbody>
    </table>
</body>

<table>
 <tbody>
  <tr>
   <th>A</th><th>B</th><th>C</th> 
  </tr>
  <tr>
   <td>1</td><td>2</td><td>3</td>
  </tr>
  <tr>
   <td>5</td><td>6</td><td>7</td>
  </tr>
 </tbody>
</table>

In [14]:
markdown_content = """<head><h1><title>Hello I'm Felix</title></h1></head>

<body>
    <head>secular cover of 01101111 01101110 01100101 </head>
    <div>

<p>please non-denominational deity help me</p>

</div>
    
<div>

<img src = "/HokaOneOne-Logo.png" alt="there should be an image here">
<img src = "HokaOneOne-Logo.png">


<img>https://lastfm.freetls.fastly.net/i/u/300x300/d879c6dfd226879b9d60d08df3465ab3.jpg</img>

<a>https://learningds.org/ch/14/web_html.html</a>


<a>https://www.google.com/imgres?q=metallica%20super%20mario%2064%20soundfont%20and%20justice%20for%20all%20cover&imgurl=https%3A%2F%2Fi.ytimg.com%2Fvi%2FRXd75NJFmdE%2Fmaxresdefault.jpg&imgrefurl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DRXd75NJFmdE&docid=R5WSdoEFoPX1EM&tbnid=k2n9mLrsSm2fcM&vet=12ahUKEwiUhdiXor-JAxX-LkQIHc2mBsMQM3oECBsQAA..i&w=1280&h=720&hcb=2&ved=2ahUKEwiUhdiXor-JAxX-LkQIHc2mBsMQM3oECBsQAA
</a>

<a>https://emojipedia.org/loudly-crying-face</a>
</div>
    
<head>this is table arbitrarily arranged of sorta the lyrics</head>
<table>
<tbody>
            <tr>
                <th>index</th><th>prefix</th><th>suffix</th> 
            </tr>
            <tr>
                <td>0</td><td>can't afford tuition</td><td>lol</td>
            </tr>
            <tr>
                <td>1</td><td>nothing is real but</td><td>bills</td>
            </tr>
        </tbody>
    </table>
</body>"""

In [15]:
# !pip install markdown

In [16]:
import markdown
from bs4 import BeautifulSoup

# Assuming you have your markdown content in a variable called 'markdown_content'
html_content = markdown.markdown(markdown_content)

# Create a BeautifulSoup object
soup = BeautifulSoup(html_content, 'html.parser')


# Get the body content
body_content = str(soup.body)
# body_content
# # Write to file
with open('lab06_1.html', 'w') as f:
    f.write(body_content)

In [4]:
html_output = InteractiveShell.instance().display_formatter.format(Markdown(markdown_content))
html_output[0]

NameError: name 'InteractiveShell' is not defined

In [120]:
from IPython.display import Markdown
from IPython.core.interactiveshell import InteractiveShell

# Your markdown content
# markdown_text = "# This is a heading\n\nThis is some **bold** text."

# Render markdown to HTML
html_output = InteractiveShell.instance().display_formatter.format(Markdown(markdown_content))[0]['text/markdown']

# Save to file
with open('lab06_1.html', 'w') as f:
    f.write(html_output)

In [121]:
# Don't delete this cell!
question1()

In [122]:
grader.check("q1")

q1 results: All test cases passed!

## Question 2 â€“ Scraping an Online Bookstore ðŸ“š

Browse through the following fake online bookstore: http://books.toscrape.com/. This website is meant for toying with scraping.

Your job is to scrape the website, collecting data on all books that have:
- **_at least_ a four-star rating**, and
- **a price _strictly_ less than Â£50**, and 
- **belong to specific categories** (more details below). 

You will extract the information into a DataFrame that looks like the one below.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UPC</th>
      <th>Product Type</th>
      <th>Price (excl. tax)</th>
      <th>Price (incl. tax)</th>
      <th>Tax</th>
      <th>Availability</th>
      <th>Number of reviews</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>e10e1e165dc8be4a</td>
      <td>Books</td>
      <td>Ã‚Â£22.60</td>
      <td>Ã‚Â£22.60</td>
      <td>Ã‚Â£0.00</td>
      <td>In stock (19 available)</td>
      <td>0</td>
      <td>Default</td>
      <td>Four</td>
      <td>For readers of Laura Hillenbrand's Seabiscuit...</td>
      <td>The Boys in the Boat: Nine Americans...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>c2e46a2ee3b4a322</td>
      <td>Books</td>
      <td>Ã‚Â£25.27</td>
      <td>Ã‚Â£25.27</td>
      <td>Ã‚Â£0.00</td>
      <td>In stock (19 available)</td>
      <td>0</td>
      <td>Romance</td>
      <td>Five</td>
      <td>A Michelin two-star chef at twenty-eight, Violette...</td>
      <td>Chase Me (Paris Nights #2)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>00bfed9e18bb36f3</td>
      <td>Books</td>
      <td>Ã‚Â£34.53</td>
      <td>Ã‚Â£34.53</td>
      <td>Ã‚Â£0.00</td>
      <td>In stock (19 available)</td>
      <td>0</td>
      <td>Romance</td>
      <td>Five</td>
      <td>No matter how busy he keeps himself...</td>
      <td>Black Dust</td>
    </tr>
  </tbody>
</table>

To do so, implement the following functions.

<br>

#### `extract_book_links`

Complete the implementation of the function `extract_book_links`, which takes in the content of a page that contains book listings as a **string of HTML**, and returns a **list** of URLs of book-specific pages for all books with **_at least_ a four-star rating and a price _strictly_ less than Â£50**.

For this method, the URLs you return should not contain the protocol (i.e. `'https://'`). The protocols should be added back into the URLs when you actually make the requests.


<br>

#### `get_product_info`

Complete the implementation of the function `get_product_info`, which takes in the content of a book-specific page as a **string of HTML**, and a list `categories` of book categories. If the input book is in the list of `categories`, `get_product_info` should return a dictionary corresponding to a row in the DataFrame in the image above (where the keys are the column names and the values are the row values). If the input book is not in the list of `categories`, return `None`. <b> The order of the dictionary keys does not matter. </b>


<br>

#### `scrape_books`

Finally, put everything together. Complete the implementation of the function `scrape_books`, which takes in an integer `k` and a list `categories` of book categories. `scrape_books` should use `requests` to scrape the first `k` pages of the bookstore and return a DataFrame of only the books that have:
- **_at least_ a four-star rating**, and
- **a price _strictly_ less than Â£50**, and
- **a category that is in the list `categories`**.

<b> The order of the DataFrame columns does not matter. </b>

<br>

Some general guidance and tips:

- The first page of the bookstore is at http://books.toscrape.com/catalogue/page-1.html. Subsequent pages can be found by clicking the "Next" button at the bottom of the page. Look at how the URLs change each time you navigate to a new page; think about how to use f-strings (or some other string formatting technique) to generate these URLs.
- Use "inspect element" to view the source code of the pages you're trying to scrape. To find a book's category, look at the hyperlinks in the book-specific page for that book.
- **`scrape_books` should run in under 180 seconds on the entire bookstore (`k = 50`). `scrape_books` is also the only function that should make `GET` requests; the other two functions parse already-existing HTML.**
- When instantiating `bs4.BeautifulSoup` objects, use the optional argument `features='lxml'` to suppress any warnings.
- Don't worry about typecasting, i.e. it's fine if `'Number of reviews'` is not stored as type `int`. Also, don't worry if you run into encoding errors in your price columns (as the example DataFrame at the top of this cell contains).

## DONT render the HTML

In [9]:
def extract_book_links():


    '''
    use f-string to loop thru the pages for (k amount this will be obtained from scrape_books)
    suffixing the url -page1, -page2, etc.
    
    '''
    # the only function to contain a request thus MUST loop here from scrape_books


    # example looping usage
    # res_clash = requests.get(
    #     BASE_URL + "artists/" + artist_id + "/albums",
    #     headers=headers,
    #     params={"include_groups": "album"},
    # )

In [10]:
from IPython.display import HTML

bookstore_home = 'http://books.toscrape.com/'
req_bookstore_home = requests.get(bookstore_home)
bookstore_home_html = bs4.BeautifulSoup(req_bookstore_home.text,"html.parser")
# what should i be putting in the BeautifulSoup argument?
print(
    (bookstore_home_html.find("p", attrs ={"class":"star-rating One"} ))
    
     
    )

# how would i find the actual listing belonging to the rating /price

<p class="star-rating One">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>

In [11]:

# URL to scrape
url = "http://books.toscrape.com/"

# Send a request to the webpage
response = requests.get(url)
response.raise_for_status()  # Check that the request was successful

# Parse the page content with BeautifulSoup
soup = bs4.BeautifulSoup(response.text, "html.parser")

# Dictionary to map class names to numeric ratings
rating_map = {
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4,
    "Five": 5
}

# Find all books with a 4 or 5-star rating
filtered_books = []
for article in soup.find_all("article", class_="product_pod"):
    # Find the rating class in the <p> tag
    rating_class = article.find("p", class_="star-rating")["class"][1]
    # Convert the rating class to a numeric value
    rating = rating_map.get(rating_class, 0)
    
    # Check if the rating is 4 or higher
    if rating >= 4:
        # Get the title of the book
        title = article.find("h3").a["title"]
        # Get the price of the book
        price_text = article.find("p", class_="price_color").text

        # high_rated_books.append((title, price_text))
        price = float(price_text[2:])  # Remove the currency symbol (Â£) and convert to float

        # Check if the price is under 50
        if price < 50:
            filtered_books.append((title, rating, price))

# Print the results

# for book in high_rated_books:
#     print(f"Title: {book[0]}, Rating: {book[1]} stars")

for book in filtered_books:
    print(f"Title: {book[0]}, Rating: {book[1]} stars, Price: Â£{book[2]}")

Title: Sharp Objects, Rating: 4 stars, Price: Â£47.82
Title: The Dirty Little Secrets of Getting Your Dream Job, Rating: 4 stars, Price: Â£33.34
Title: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics, Rating: 4 stars, Price: Â£22.6
Title: Shakespeare's Sonnets, Rating: 4 stars, Price: Â£20.66
Title: Set Me Free, Rating: 5 stars, Price: Â£17.46
Title: Rip it Up and Start Again, Rating: 5 stars, Price: Â£35.02

In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Base URL for the website
base_url = "http://books.toscrape.com/"

# Map for rating text to numerical ratings
rating_map = {
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4,
    "Five": 5
}

# Categories to filter (update as per requirement)
target_categories = ["Romance", "Historical Fiction", "Science", "Default"]  # Example categories

# List to store book data
books_data = []

# Function to get book details from its page
def get_book_details(book_url):
    response = requests.get(book_url)
    soup = BeautifulSoup(response.text, "html.parser")
    
    # Extract information from the product table
    table = soup.find("table", class_="table table-striped")
    product_info = {row.th.text: row.td.text for row in table.find_all("tr")}
    
    # Extract specific fields
    upc = product_info.get("UPC", "")
    product_type = product_info.get("Product Type", "")
    price_excl_tax = product_info.get("Price (excl. tax)", "")
    price_incl_tax = product_info.get("Price (incl. tax)", "")
    tax = product_info.get("Tax", "")
    availability = product_info.get("Availability", "")
    number_of_reviews = product_info.get("Number of reviews", "0")
    
    # Extract description, if available
    description = soup.find("meta", attrs={"name": "description"})
    description_text = description["content"].strip() if description else ""
    
    # Extract category
    category = soup.find("ul", class_="breadcrumb").find_all("a")[-1].text.strip()
    
    return {
        "UPC": upc,
        "Product Type": product_type,
        "Price (excl. tax)": price_excl_tax,
        "Price (incl. tax)": price_incl_tax,
        "Tax": tax,
        "Availability": availability,
        "Number of reviews": number_of_reviews,
        "Category": category,
        "Description": description_text
    }

# Function to scrape each book from the main page
def scrape_books():
    page_url = base_url + "catalogue/page-1.html"
    while True:
        response = requests.get(page_url)
        soup = BeautifulSoup(response.text, "html.parser")
        
        # Find all book entries
        for article in soup.find_all("article", class_="product_pod"):
            # Extract rating
            rating_class = article.find("p", class_="star-rating")["class"][1]
            rating = rating_map.get(rating_class, 0)
            
            # Filter by rating
            if rating < 4:
                continue

            # Extract price and filter by price
            price_text = article.find("p", class_="price_color").text
            price = float(price_text[2:])
            if price >= 50:
                continue
            
            # Extract title and link to book details
            title = article.find("h3").a["title"]
            book_url = base_url + "catalogue/" + article.find("h3").a["href"]

            # Get additional details from the book's page
            book_details = get_book_details(book_url)
            
            # Check if the category matches the target categories
            if book_details["Category"] not in target_categories:
                continue

            # Add the book to the list
            books_data.append({
                "UPC": book_details["UPC"],
                "Product Type": book_details["Product Type"],
                "Price (excl. tax)": book_details["Price (excl. tax)"],
                "Price (incl. tax)": book_details["Price (incl. tax)"],
                "Tax": book_details["Tax"],
                "Availability": book_details["Availability"],
                "Number of reviews": book_details["Number of reviews"],
                "Category": book_details["Category"],
                "Rating": rating_class,
                "Description": book_details["Description"],
                "Title": title
            })

        # Find next page
        next_button = soup.find("li", class_="next")
        if next_button:
            next_page = next_button.a["href"]
            page_url = base_url + "catalogue/" + next_page
        else:
            break

In [13]:
# Start scraping
scrape_books()

# Convert to DataFrame and save to CSV
df = pd.DataFrame(books_data)
df.to_csv("books_data.csv", index=False)

(df.head())

,UPC,Product Type,Price (excl. tax),Price (incl. tax),Tax,Availability,Number of reviews,Category,Rating,Description,Title
0,e10e1e165dc8be4a,Books,Ã‚Â£22.60,Ã‚Â£22.60,Ã‚Â£0.00,In stock (19 available),0,Default,Four,For readers of Laura Hillenbrand's Seabiscuit ...,The Boys in the Boat: Nine Americans and Their...
1,c2e46a2ee3b4a322,Books,Ã‚Â£25.27,Ã‚Â£25.27,Ã‚Â£0.00,In stock (19 available),0,Romance,Five,"A Michelin two-star chef at twenty-eight, Viol...",Chase Me (Paris Nights #2)
2,00bfed9e18bb36f3,Books,Ã‚Â£34.53,Ã‚Â£34.53,Ã‚Â£0.00,In stock (19 available),0,Romance,Five,"No matter how busy he keeps himself, successfu...",Black Dust
3,aadee1c326d286e3,Books,Ã‚Â£42.96,Ã‚Â£42.96,Ã‚Â£0.00,In stock (16 available),0,Science,Four,Renowned ornithologist Tim Birkhead opens this...,The Most Perfect Thing: Inside (and Outside) a...
4,8c9e6bf2467d740d,Books,Ã‚Â£20.59,Ã‚Â£20.59,Ã‚Â£0.00,In stock (16 available),0,Default,Five,"Slay Procrastination, Distraction, and Overwhe...",The Inefficiency Assassin: Time Management Tac...

In [12]:
def get_product_info():

SyntaxError: incomplete input (1462008021.py, line 2)

In [ ]:
def scrape_books():

In [103]:
from bs4 import BeautifulSoup

def extract_book_links(page_content):
    soup = BeautifulSoup(page_content, 'lxml')
    book_links = []

    # Map star rating text to numbers
    rating_map = {
        "One": 1,
        "Two": 2,
        "Three": 3,
        "Four": 4,
        "Five": 5
    }

    # Loop through each book on the page
    for article in soup.find_all("article", class_="product_pod"):
        # Check rating
        rating_class = article.find("p", class_="star-rating")["class"][1]
        rating = rating_map.get(rating_class, 0)
        
        # Check price
        price_text = article.find("p", class_="price_color").text
        price = float(price_text[2:])  # Remove the Â£ symbol and convert to float
        
        if rating >= 4 and price < 50:
            # Extract the URL and strip the protocol
            link = article.find("h3").a["href"]
            book_links.append(link.lstrip("/"))
    
    return book_links

In [104]:
def get_product_info(book_page_content, categories):
    soup = BeautifulSoup(book_page_content, 'lxml')
    
    # Extract category
    category = soup.find("ul", class_="breadcrumb").find_all("a")[-1].text.strip()
    
    # Return None if the category is not in the target categories
    if category not in categories:
        return None

    # Extract information from the product table
    table = soup.find("table", class_="table table-striped")
    product_info = {row.th.text: row.td.text for row in table.find_all("tr")}

    # Extract specific fields
    upc = product_info.get("UPC", "")
    product_type = product_info.get("Product Type", "")
    price_excl_tax = product_info.get("Price (excl. tax)", "")
    price_incl_tax = product_info.get("Price (incl. tax)", "")
    tax = product_info.get("Tax", "")
    availability = product_info.get("Availability", "")
    number_of_reviews = product_info.get("Number of reviews", "0")
    
    # Extract description, if available
    description = soup.find("meta", attrs={"name": "description"})
    description_text = description["content"].strip() if description else ""
    
    # Extract title
    title = soup.find("h1").text.strip()

    # Extract rating
    rating_class = soup.find("p", class_="star-rating")["class"][1]

    # Construct the dictionary
    book_info = {
        "UPC": upc,
        "Product Type": product_type,
        "Price (excl. tax)": price_excl_tax,
        "Price (incl. tax)": price_incl_tax,
        "Tax": tax,
        "Availability": availability,
        "Number of reviews": number_of_reviews,
        "Category": category,
        "Rating": rating_class,
        "Description": description_text,
        "Title": title
    }

    return book_info

In [105]:
import requests
import pandas as pd

def scrape_books(k, categories):
    base_url = "http://books.toscrape.com/catalogue/page-{}.html"
    books_data = []

    for page in range(1, k + 1):
        # Get page content
        page_url = base_url.format(page)
        response = requests.get(page_url)
        
        # If the page is not found, break out of the loop
        if response.status_code != 200:
            break

        # Extract book links from the current page
        book_links = extract_book_links(response.text)

        for link in book_links:
            # Get the full URL for each book
            book_url = "http://books.toscrape.com/catalogue/" + link
            book_response = requests.get(book_url)
            
            # Get book information
            book_info = get_product_info(book_response.text, categories)
            
            # Only append if book_info is not None (it met category criteria)
            if book_info:
                books_data.append(book_info)

    # Convert to DataFrame
    df = pd.DataFrame(books_data)
    return df

## _real possible solutions that may be needed for possible redemption_

In [106]:
# from bs4 import BeautifulSoup

# def extract_book_links(page_content):
#     soup = BeautifulSoup(page_content, 'lxml')
#     book_links = []
#     rating_map = {"One": 1, "Two": 2, "Three": 3, "Four": 4, "Five": 5}

#     # Find all book elements
#     for article in soup.find_all("article", class_="product_pod"):
#         # Extract the star rating
#         rating_class = article.find("p", class_="star-rating")["class"][1]
#         rating = rating_map.get(rating_class, 0)
        
#         # Extract the price
#         price_text = article.find("p", class_="price_color").text
#         price = float(price_text[1:])  # Remove 'Â£' symbol and convert to float
        
#         # Check rating and price criteria
#         if rating >= 4 and price < 50:
#             # Extract book link
#             link = article.find("h3").a["href"]
#             book_links.append(link.lstrip("/"))  # Remove leading slash for relative URL

#     return book_links
# def get_product_info(book_page_content, categories):
#     soup = BeautifulSoup(book_page_content, 'lxml')

#     # Extract category
#     category = soup.find("ul", class_="breadcrumb").find_all("a")[-1].text.strip()

#     # Return None if the category doesn't match
#     if category not in categories:
#         return None

#     # Extract information from product table
#     table = soup.find("table", class_="table table-striped")
#     product_info = {row.th.text: row.td.text for row in table.find_all("tr")}
    
#     # Extract fields
#     upc = product_info.get("UPC", "")
#     product_type = product_info.get("Product Type", "")
#     price_excl_tax = product_info.get("Price (excl. tax)", "")
#     price_incl_tax = product_info.get("Price (incl. tax)", "")
#     tax = product_info.get("Tax", "")
#     availability = product_info.get("Availability", "")
#     number_of_reviews = product_info.get("Number of reviews", "0")

#     # Extract description
#     description_meta = soup.find("meta", attrs={"name": "description"})
#     description = description_meta["content"].strip() if description_meta else ""
    
#     # Extract title and rating
#     title = soup.find("h1").text.strip()
#     rating_class = soup.find("p", class_="star-rating")["class"][1]

#     return {
#         "UPC": upc,
#         "Product Type": product_type,
#         "Price (excl. tax)": price_excl_tax,
#         "Price (incl. tax)": price_incl_tax,
#         "Tax": tax,
#         "Availability": availability,
#         "Number of reviews": number_of_reviews,
#         "Category": category,
#         "Rating": rating_class,
#         "Description": description,
#         "Title": title
#     }
# import requests
# import pandas as pd

# def scrape_books(k, categories):
#     base_url = "http://books.toscrape.com/catalogue/page-{}.html"
#     all_books = []

#     for page_num in range(1, k + 1):
#         # Fetch listing page content
#         page_url = base_url.format(page_num)
#         response = requests.get(page_url)
        
#         if response.status_code != 200:
#             break  # Stop if we run out of pages

#         # Get links to books meeting criteria
#         book_links = extract_book_links(response.text)

#         for relative_link in book_links:
#             # Construct full URL and fetch book detail page content
#             book_url = f"http://books.toscrape.com/catalogue/{relative_link}"
#             book_response = requests.get(book_url)

#             # Get book info if it matches the categories
#             book_info = get_product_info(book_response.text, categories)
#             if book_info:
#                 all_books.append(book_info)

#     # Create DataFrame from collected data
#     df = pd.DataFrame(all_books)
#     return df

In [107]:
# don't delete this cell, but do run it -- it is needed for the autograder tests

# public test for extract_book_links 
extract_book_links_fp = os.path.join('data', 'products.html')
extract_book_out = extract_book_links(
    open(extract_book_links_fp, encoding='utf-8').read()
)
extract_book_url = 'scarlet-the-lunar-chronicles-2_218/index.html'

# doc tests for get product info
get_product_info_fp = os.path.join('data', 'Frankenstein.html')
get_product_info_out = get_product_info(
    open(get_product_info_fp, encoding='utf-8').read(), ['Default']
)

# public test for scrape books 
scrape_books_out = scrape_books(1, ['Mystery'])

In [108]:
grader.check("q2")

q2 results: All test cases passed!

## Question 3 â€“ API Requests ðŸ¤‘

You trade stocks as a hobby. As an avid `pandas` coder, you decide to calculate statistics of your favorite stocks by pulling data from a public API. The API we will work with can be found at https://financialmodelingprep.com/developer/docs/#Stock-Historical-Price. Specifically, we will use the "**Daily Chart EOD**" endpoint (search for it at the linked page).

Some relevant definitions:
- Ticker: A short code that refers to a stock. For example, Apple's ticker is AAPL and Ford's ticker is F. 
- Open: The price of a stock at the beginning of a trading day.
- Close: The price of a stock at the end of a trading day.
- Volume: The total number of shares traded in a day.
- Percent change: The difference in price with respect to the original price, as a percentage.

To make requests to the aforementioned API, you will need an API key. In order to get one, you will need to make an account at the website. Once you've signed up, you can use the API key that comes with the free plan. It has a limit of 250 requests per day, which should be more than enough. You will have to encode your API key in the URL that you make requests to; see a complete example of such a request at the right side of the [documentation](https://site.financialmodelingprep.com/developer/docs#Stock-Historical-Price).

Implement the following two functions.

#### `stock_history`

Complete the implementation of the function `stock_history`, which takes in a string `ticker` and two integers, `year` and `month`, and returns a DataFrame containing the price history for that stock in that month. Keep all of the attributes that are returned by the API.

***Notes***:
- Read the API documentation if you get stuck!
- [`pd.date_range`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html) takes in two dates and returns a sequence of all dates between the two dates, excluding the right endpoint. How might this be helpful?
- The [`requests.get`](https://docs.python-requests.org/en/master/user/quickstart/) function returns a Response object, not the data itself. Use the `json` method on the Response object to extract the relevant JSON, as we did in [Lecture 9](https://dsc80.com/resources/lectures/lec09/lec09-filled.html#Example:-GET-requests-via-requests) (you don't need to `import json` to do this).
- You can instantiate a DataFrame using a sequence of dictionaries.

<br>

#### `stock_stats`

Create a function `stock_stats` that takes in a DataFrame outputted by `stock_history` and returns a **tuple** of two numbers:
1. The percent change of the stock throughout the month as a **percentage**.
2. An estimate of the total transaction volume **in billion of dollars** for that month.

Both values in the tuple should be **strings** that contain numbers rounded to two decimal places. Add a plus or minus sign in front of the percent change, and make sure that the total transaction volume string ends in a `'B'`.

**To compute the percent change**, use the opening price on the first day of the month as the starting price and the closing price on the last day of the month as the ending price.

**To compute the total transaction volume**, assume that on any given day, the average price of a share is the midpoint of the high and low price for that day.

$$ \text{Estimated Total Transaction Volume (in dollars)} = \text{Volume (number of shares traded)} \times \text{Average Price} $$

For example, suppose there are only three days in March â€“ March 1st, March 2nd, and March 3rd.

If BYND (Beyond Meat) opens at \\$4 on March 1st and closes at \\$5 on March 3rd, its percent change for the month of March is $$\frac{\$5-\$4}{\$4} = +25.00\%$$

Suppose the high and low prices and volumes of BYND on each day are given below.
- March 1st: high \\$5, low \\$3, volume 500 million (0.5 billion)
- March 2nd: high \\$5.5, low \\$2.5, volume 1 billion
- March 3rd: high \\$5.25, low \\$4, volume 500 million (0.5 billion)

Then, the estimated total transaction volume is
$$\frac{\$5 + \$3}{2} \cdot 0.5 B + \frac{\$5.5 + \$2.5}{2} \cdot 1 B + \frac{\$5.25 + \$4}{2} \cdot 0.5 B = 8.3125B$$

## where do i put my api key

In [ ]:
# will need an specific function to cast json array to dataframe
# what if the data in the POST isnt json

{'date': '2024-11-04',
 'open': 220.99,
 'high': 222.79,
 'low': 219.71,
 'close': 222.01,
 'adjClose': 222.01,
 'volume': 41727755,
 'unadjustedVolume': 41727755,
 'change': 1.02,
 'changePercent': 0.46156,
 'vwap': 221.375,
 'label': 'November 04, 24',
 'changeOverTime': 0.0046156}

In [ ]:
# API_KEY = "your_api_key"
# url = "https://api.example.com/data"
# API_KEY = "TEj6e6njs900yG5LGYcwWxdKNdpE8oN0"

# params = {
#     "api_key": API_KEY
# }

In [41]:
finance_model_ex_url = 'https://financialmodelingprep.com/api/v3/historical-price-full/AAPL'

resp_finance = requests.get(finance_model_ex_url+"?apikey=TEj6e6njs900yG5LGYcwWxdKNdpE8oN0")

In [42]:

raw_data = resp_finance.json()
# resp_1500.headers['content-type']
    # >>> 'text/html'
    # string methods only?
# books_html = bs4.BeautifulSoup(raw_books)
# print(books_html)
# [print(i) for i in ((raw_data))["historical"]]

## 1st cast df
## 2nd use pd_date range

In [43]:
finance_resp_df  = pd.DataFrame(raw_data)

In [44]:
finance_resp_df

     symbol                                         historical
0      AAPL  {'date': '2024-11-08', 'open': 227.17, 'high':...
1      AAPL  {'date': '2024-11-07', 'open': 224.63, 'high':...
2      AAPL  {'date': '2024-11-06', 'open': 222.61, 'high':...
3      AAPL  {'date': '2024-11-05', 'open': 221.8, 'high': ...
4      AAPL  {'date': '2024-11-04', 'open': 220.99, 'high':...
...     ...                                                ...
1253   AAPL  {'date': '2019-11-15', 'open': 65.92, 'high': ...
1254   AAPL  {'date': '2019-11-14', 'open': 65.94, 'high': ...
1255   AAPL  {'date': '2019-11-13', 'open': 65.28, 'high': ...
1256   AAPL  {'date': '2019-11-12', 'open': 65.39, 'high': ...
1257   AAPL  {'date': '2019-11-11', 'open': 64.58, 'high': ...

[1258 rows x 2 columns]

In [45]:
data_list = []

# Loop through each row in the DataFrame
for _, row in finance_resp_df.iterrows():
    historical_data = row['historical']
    
    # Extract the required information from the dictionary
    date = historical_data['date']
    open_price = historical_data['open']
    high_price = historical_data['high']
    low_price = historical_data['low']
    
    # Append the extracted data to the list
    data_list.append({
        'date': date,
        'open': open_price,
        'high': high_price,
        'low': low_price
    })
second_half_df = pd.DataFrame(data_list)

In [46]:
finance_resp_df
# finance_resp_df["historical"][0]
# pd.to_datetime(finance_resp_df["historical"][0]["date"])

     symbol                                         historical
0      AAPL  {'date': '2024-11-08', 'open': 227.17, 'high':...
1      AAPL  {'date': '2024-11-07', 'open': 224.63, 'high':...
2      AAPL  {'date': '2024-11-06', 'open': 222.61, 'high':...
3      AAPL  {'date': '2024-11-05', 'open': 221.8, 'high': ...
4      AAPL  {'date': '2024-11-04', 'open': 220.99, 'high':...
...     ...                                                ...
1253   AAPL  {'date': '2019-11-15', 'open': 65.92, 'high': ...
1254   AAPL  {'date': '2019-11-14', 'open': 65.94, 'high': ...
1255   AAPL  {'date': '2019-11-13', 'open': 65.28, 'high': ...
1256   AAPL  {'date': '2019-11-12', 'open': 65.39, 'high': ...
1257   AAPL  {'date': '2019-11-11', 'open': 64.58, 'high': ...

[1258 rows x 2 columns]

In [47]:
second_half_df

            date    open    high     low
0     2024-11-08  227.17  228.66  226.41
1     2024-11-07  224.63  227.88  224.57
2     2024-11-06  222.61  226.07  221.19
3     2024-11-05  221.80  223.95  221.14
4     2024-11-04  220.99  222.79  219.71
...          ...     ...     ...     ...
1253  2019-11-15   65.92   66.44   65.75
1254  2019-11-14   65.94   66.22   65.53
1255  2019-11-13   65.28   66.19   65.27
1256  2019-11-12   65.39   65.70   65.23
1257  2019-11-11   64.58   65.62   64.57

[1258 rows x 4 columns]

## how to put df's directly next to each other

In [48]:
fin_df_n = pd.concat([finance_resp_df,second_half_df],axis=1)

In [52]:
len((fin_df_n["historical"][0]).keys())

13

<hr></hr>

<hr></hr>

<hr></hr>

In [170]:
# ?pd.date_range

In [171]:
# pd.date_range(
    # start=pd.to_datetime("1/1/2018").tz_localize("Europe/Berlin"),
    # end=pd.to_datetime("1/08/2018").tz_localize("Europe/Berlin"),
# )

In [172]:
fin_df_n["date"]  =pd.to_datetime(fin_df_n["date"])

In [173]:
fin_df_n["date"]
#TERRRIFIC

0      2024-11-04
1      2024-11-01
2      2024-10-31
3      2024-10-30
4      2024-10-29
          ...
1253   2019-11-11
1254   2019-11-08
1255   2019-11-07
1256   2019-11-06
1257   2019-11-05
Name: date, Length: 1258, dtype: datetime64[ns]

In [174]:
fin_df_n["date"][12]

Timestamp('2024-10-17 00:00:00')

## how to have date_range broadcasted over ["date"]

In [160]:
fin_df_n["date"]

0      2024-11-04
1      2024-11-01
2      2024-10-31
3      2024-10-30
4      2024-10-29
          ...
1253   2019-11-11
1254   2019-11-08
1255   2019-11-07
1256   2019-11-06
1257   2019-11-05
Name: date, Length: 1258, dtype: datetime64[ns]

have the generated objects be a "mask" for the results cleandf and have those all pulled where they match
how to have the whole df entry return and does the mismatch in objects matter?

In [180]:
# how was I suppose to use date_range?


# fin_df_n[fin_df_n['date'].dt.year == 2019]

ex_mask = pd.date_range(start = "2019-11-11",end="2019-12-07")
ex_mask

DatetimeIndex(['2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14',
               '2019-11-15', '2019-11-16', '2019-11-17', '2019-11-18',
               '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22',
               '2019-11-23', '2019-11-24', '2019-11-25', '2019-11-26',
               '2019-11-27', '2019-11-28', '2019-11-29', '2019-11-30',
               '2019-12-01', '2019-12-02', '2019-12-03', '2019-12-04',
               '2019-12-05', '2019-12-06', '2019-12-07'],
              dtype='datetime64[ns]', freq='D')

## MASK FOUND

In [182]:
fin_df_n.loc[fin_df_n["date"].isin(ex_mask)]
#YURRRR-eka

,symbol,historical,date,open,high,low
1235,AAPL,"{'date': '2019-12-06', 'open': 66.87, 'high': ...",2019-12-06,66.87,67.75,66.83
1236,AAPL,"{'date': '2019-12-05', 'open': 65.95, 'high': ...",2019-12-05,65.95,66.47,65.68
1237,AAPL,"{'date': '2019-12-04', 'open': 65.27, 'high': ...",2019-12-04,65.27,65.83,65.17
1238,AAPL,"{'date': '2019-12-03', 'open': 64.58, 'high': ...",2019-12-03,64.58,64.88,64.07
1239,AAPL,"{'date': '2019-12-02', 'open': 66.82, 'high': ...",2019-12-02,66.82,67.06,65.86
1240,AAPL,"{'date': '2019-11-29', 'open': 66.65, 'high': ...",2019-11-29,66.65,67.00,66.47
1241,AAPL,"{'date': '2019-11-27', 'open': 66.4, 'high': 6...",2019-11-27,66.40,67.00,66.33
1242,AAPL,"{'date': '2019-11-26', 'open': 66.74, 'high': ...",2019-11-26,66.74,66.79,65.63
1243,AAPL,"{'date': '2019-11-25', 'open': 65.68, 'high': ...",2019-11-25,65.68,66.61,65.63
1244,AAPL,"{'date': '2019-11-22', 'open': 65.65, 'high': ...",2019-11-22,65.65,65.80,65.21
1245,AAPL,"{'date': '2019-11-21', 'open': 65.92, 'high': ...",2019-11-21,65.92,66.00,65.30
1246,AAPL,"{'date': '2019-11-20', 'open': 66.39, 'high': ...",2019-11-20,66.39,66.52,65.10
1247,AAPL,"{'date': '2019-11-19', 'open': 66.97, 'high': ...",2019-11-19,66.97,67.00,66.35
1248,AAPL,"{'date': '2019-11-18', 'open': 66.45, 'high': ...",2019-11-18,66.45,66.86,66.06
1249,AAPL,"{'date': '2019-11-15', 'open': 65.92, 'high': ...",2019-11-15,65.92,66.44,65.75
1250,AAPL,"{'date': '2019-11-14', 'open': 65.94, 'high': ...",2019-11-14,65.94,66.22,65.53
1251,AAPL,"{'date': '2019-11-13', 'open': 65.28, 'high': ...",2019-11-13,65.28,66.19,65.27
1252,AAPL,"{'date': '2019-11-12', 'open': 65.39, 'high': ...",2019-11-12,65.39,65.70,65.23
1253,AAPL,"{'date': '2019-11-11', 'open': 64.58, 'high': ...",2019-11-11,64.58,65.62,64.57

<hr>

<hr>

<hr>

In [24]:
import calendar


def stock_history(args,year,month):
    """
    
    year : 
        what year the month is gonna be in
    month
        the entirety of the month
    
    """
    


    # return str(arg)
    # company_url = str(TCR)
    # return company_url

    finance_model_url = 'https://financialmodelingprep.com/api/v3/historical-price-full/'
    
    ticker_url = finance_model_url + args

    resp_TCR = requests.get(ticker_url+"?apikey=TEj6e6njs900yG5LGYcwWxdKNdpE8oN0")

    finance_dirty_df =  pd.DataFrame(resp_TCR.json())
    
    data_list = []

    # Loop through each row in the DataFrame
    for _, row in finance_dirty_df.iterrows():
        historical_data = row['historical']
        
        # Extract the required information from the dictionary
        date = historical_data['date']
        open_price = historical_data['open']
        high_price = historical_data['high']
        low_price = historical_data['low']
        
        # Append the extracted data to the list
        data_list.append({
            'date': date,
            'open': open_price,
            'high': high_price,
            'low': low_price
        })
    second_half_df = pd.DataFrame(data_list)
    
    
    finance_clean_df = pd.concat([finance_dirty_df,second_half_df],axis=1)
    
    finance_clean_df["date"]  =pd.to_datetime(finance_clean_df["date"])


    # mask = (finance_clean_df['date'].dt.year == year) & (finance_clean_df['date'].dt.month == month)
    # why is this returning the whole copy of the df

    # how to cast the year and month to into a string
    # mask = pd.date_range(start = '"year,month"',end='"year,month + 1"',)
    
    # return finance_clean_df.loc[finance_clean_df["date"].isin(mask)]


    _, days_in_month = calendar.monthrange(year, month)
    
    # Create date range for the specified year and month
    start_date = pd.Timestamp(year=year, month=month, day=1)
    end_date = pd.Timestamp(year=year, month=month, day=days_in_month)
    date_range = pd.date_range(start=start_date, end=end_date)
    
    # Filter using isin with the date range
    filtered_df = finance_clean_df[finance_clean_df["date"].isin(date_range)]
    
    return filtered_df

In [47]:
import requests
import pandas as pd

def stock_history(ticker, year, month):
    """
    Fetches the historical stock data for a given ticker symbol, year, and month.
    
    Parameters:
    ticker (str): The stock ticker symbol.
    year (int): The year of the data to fetch.
    month (int): The month of the data to fetch.
    
    Returns:
    pd.DataFrame: A DataFrame containing stock data for the specified month.
    """
    # Define the API key and dates for the range
    api_key = "TEj6e6njs900yG5LGYcwWxdKNdpE8oN0"  # Replace with your actual API key
    start_date = f"{year}-{month:02d}-01"
    end_date = f"{year}-{month + 1:02d}-01" if month < 12 else f"{year + 1}-01-01"
    url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{ticker}?apikey={api_key}&from={start_date}&to={end_date}'
    
    # Debug: Print the URL to verify its format
    print("Request URL:", url)
    
    # Make the API request and retrieve data as JSON
    response = requests.get(url)
    data = response.json()
    
    # Check if 'historical' data is available in the response
    if 'historical' not in data:
        print("No historical data found for this ticker and date range.")
        return pd.DataFrame()  # Return empty DataFrame if no data found
    
    # Convert the 'historical' data to a DataFrame without filtering
    df = pd.DataFrame(data['historical'])
    
    # Convert the 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])
    
    return df

In [48]:
stock_history("BYND",2019
              ,6)

Request URL: https://financialmodelingprep.com/api/v3/historical-price-full/BYND?apikey=TEj6e6njs900yG5LGYcwWxdKNdpE8oN0&from=2019-06-01&to=2019-07-01

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2019-07-01,161.49,162.45,152.0000,152.58,152.580002,4449296,4438900,-8.91,-5.52000,155.44,"July 01, 19",-0.055200
1,2019-06-28,165.30,168.80,159.5500,160.68,160.679993,7315297,7315300,-4.62,-2.79000,163.92,"June 28, 19",-0.027900
2,2019-06-27,157.31,164.79,155.4500,162.91,162.910004,5719421,5731400,5.60,3.56000,160.43,"June 27, 19",0.035600
3,2019-06-26,160.10,162.25,153.0200,160.48,160.479996,6378629,6378600,0.38,0.23735,157.99,"June 26, 19",0.002374
4,2019-06-25,138.50,150.69,138.3425,150.60,150.600006,6682929,6632500,12.10,8.74000,146.35,"June 25, 19",0.087400
5,2019-06-24,151.88,152.70,138.0000,140.99,140.990005,6538497,6538500,-10.89,-7.17000,142.69,"June 24, 19",-0.071700
6,2019-06-21,153.54,161.79,150.0000,154.13,154.130005,7474586,7474600,0.59,0.38426,155.01,"June 21, 19",0.003843
7,2019-06-20,173.00,174.00,163.3000,165.17,165.169998,6660492,6660500,-7.83,-4.53000,167.58,"June 20, 19",-0.045300
8,2019-06-19,171.37,174.45,162.2500,169.28,169.279999,9451961,9452000,-2.09,-1.22000,167.61,"June 19, 19",-0.012200
9,2019-06-18,200.00,201.88,160.7000,169.89,169.889999,23966910,23966900,-30.11,-15.06000,175.95,"June 18, 19",-0.150600
10,2019-06-17,163.18,171.19,160.6111,169.96,169.960007,14626683,14626700,6.78,4.15000,166.83,"June 17, 19",0.041500
11,2019-06-14,142.01,157.90,141.8000,151.48,151.479996,14964553,14964600,9.47,6.67000,151.75,"June 14, 19",0.066700
12,2019-06-13,141.52,146.45,134.2500,141.39,141.389999,9474562,9474600,-0.13,-0.09186,141.31,"June 13, 19",-0.000919
13,2019-06-12,133.99,150.45,131.5632,141.97,141.970001,16900631,16918600,7.98,5.96000,140.38,"June 12, 19",0.059600
14,2019-06-11,145.25,150.00,125.2300,126.04,126.040001,15515979,15516000,-19.21,-13.23000,136.34,"June 11, 19",-0.132300
15,2019-06-10,155.70,186.43,147.0000,168.10,168.100006,24978735,24986000,12.40,7.96000,167.94,"June 10, 19",0.079600
16,2019-06-07,130.00,149.46,120.7600,138.65,138.649994,23916747,23916700,8.65,6.65000,132.62,"June 07, 19",0.066500
17,2019-06-06,102.00,102.25,98.8500,99.50,99.500000,6483991,6484000,-2.50,-2.45000,100.65,"June 06, 19",-0.024500
18,2019-06-05,105.50,105.50,99.6400,102.60,102.599998,4283474,4283500,-2.90,-2.75000,102.18,"June 05, 19",-0.027500
19,2019-06-04,101.25,103.50,97.8200,103.41,103.410004,5484873,5484900,2.16,2.13000,100.64,"June 04, 19",0.021300
20,2019-06-03,104.14,108.67,95.6620,96.16,96.160004,8027710,8027700,-7.98,-7.66000,103.12,"June 03, 19",-0.076600

0      2024-11-04
1      2024-11-01
2      2024-10-31
3      2024-10-30
4      2024-10-29
          ...
1253   2019-11-11
1254   2019-11-08
1255   2019-11-07
1256   2019-11-06
1257   2019-11-05
Name: date, Length: 1258, dtype: datetime64[ns]

In [189]:
def stock_stats(stock_history_df):
    """
    

           cc
               ,ccO=-
           cc  | cc
         -=Occ | ;
           cc\ |/ cc 
              \|,ccO=-
            ;=.|| cc
            __|||,-.
           `._\ -.__\
              |/
             ,||.
             |--|
             |  |
             |  |
     jrei    |  |   
            /    \
          ,'      `.
         (          )
          `-.____.-'

    VASE for volume the actual sales are still contained in the json history 
    
    
    
    """


    # delta-price is str 
    # volume is str 

    # delta price is literally just a subtraction open_0 - open_t

    # volume is high and low averaged DAILY * the len(shares_(t_i))
        # t_i like shares sold in day_k in the subset created from stock_history

    # TODO
        # extract from historcal the volume for the entry will it match to my dates?
    # B(billions) for  transaction volume

SyntaxError: incomplete input (1445332345.py, line 2)

In [70]:
import requests
import pandas as pd
import calendar

def stock_history(ticker, year, month):
    """
    Fetches the historical stock data for a given ticker symbol, year, and month.
    
    Parameters:
    ticker (str): The stock ticker symbol.
    year (int): The year of the data to fetch.
    month (int): The month of the data to fetch.
    
    Returns:
    pd.DataFrame: A DataFrame containing stock data for the specified month.
    """
    # Define the API URL
    api_key = "TEj6e6njs900yG5LGYcwWxdKNdpE8oN0"  # Replace with your actual API key
    url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{ticker}?apikey={api_key}'
    
    # Make the API request and retrieve data as JSON
    response = requests.get(url)
    data = response.json()
    
    # Convert the 'historical' data to a DataFrame
    if 'historical' in data:
        df = pd.DataFrame(data['historical'])
    else:
        return pd.DataFrame()  # Return empty DataFrame if no data found
    
    # Convert date column to datetime format
    df['date'] = pd.to_datetime(df['date'])
    
    # Filter data for the specified month and year
    mask = (df['date'].dt.year == year) & (df['date'].dt.month == month)
    filtered_df = df.loc[mask]
    
    return filtered_df

## <mark> WHHYY ISNT THE TST BYND WORKING

In [81]:
import requests
import pandas as pd

def stock_history(ticker, year, month):
    """
    Fetches the historical stock data for a given ticker symbol, year, and month.
    
    Parameters:
    ticker (str): The stock ticker symbol.
    year (int): The year of the data to fetch.
    month (int): The month of the data to fetch.
    
    Returns:
    pd.DataFrame: A DataFrame containing stock data for the specified month.
    """
    # Define the API URL with from and to date parameters
    api_key = "TEj6e6njs900yG5LGYcwWxdKNdpE8oN0"  # Replace with your actual API key
    start_date = f"{year}-{month:02d}-01"
    end_date = f"{year}-{month + 1:02d}-01" if month < 12 else f"{year + 1}-01-01"
    url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{ticker}?apikey={api_key}&from={start_date}&to={end_date}'
    
    # Make the API request and retrieve data as JSON
    response = requests.get(url)
    data = response.json()
    
    # Check if 'historical' data is available in the response
    if 'historical' not in data:
        print("No historical data found for this ticker.")
        return pd.DataFrame()  # Return empty DataFrame if no data found
    
    # Convert the 'historical' data to a DataFrame
    df = pd.DataFrame(data['historical'])
    
    # Convert the 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])
    
    return df

<h1><mark>Now it doesn't work with appl :/

In [69]:
import requests
import pandas as pd

def stock_history(ticker, year, month):
    """
    Fetches the historical stock data for a given ticker symbol, year, and month.
    
    Parameters:
    ticker (str): The stock ticker symbol.
    year (int): The year of the data to fetch.
    month (int): The month of the data to fetch.
    
    Returns:
    pd.DataFrame: A DataFrame containing stock data for the specified month.
    """
    # Define the API key and dates for the range
    api_key = "TEj6e6njs900yG5LGYcwWxdKNdpE8oN0"  # Replace with your actual API key
    start_date = f"{year}-{month:02d}-01"
    end_date = f"{year}-{month + 1:02d}-01" if month < 12 else f"{year + 1}-01-01"
    url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{ticker}?apikey={api_key}&from={start_date}&to={end_date}'
    
    # Debug: Print the URL to verify its format
    # print("Request URL:", url)
    
    # Make the API request and retrieve data as JSON
    response = requests.get(url)
    data = response.json()
    
    # Check if 'historical' data is available in the response
    if 'historical' not in data:
        print("No historical data found for this ticker and date range.")
        return pd.DataFrame()  # Return empty DataFrame if no data found
    
    # Convert the 'historical' data to a DataFrame without filtering
    df = pd.DataFrame(data['historical'])
    
    # Convert the 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])

    return df

In [75]:
import requests
import pandas as pd

def stock_history(ticker, year, month):
    """
    Fetches the historical stock data for a given ticker symbol, year, and month.
    
    Parameters:
    ticker (str): The stock ticker symbol.
    year (int): The year of the data to fetch.
    month (int): The month of the data to fetch.
    
    Returns:
    pd.DataFrame: A DataFrame containing stock data for the specified month.
    """
    # Define the API key and dates for the range
    api_key = "TEj6e6njs900yG5LGYcwWxdKNdpE8oN0"  # Replace with your actual API key
    start_date = f"{year}-{month:02d}-01"
    end_date = f"{year}-{month + 1:02d}-01" if month < 12 else f"{year + 1}-01-01"
    url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{ticker}?apikey={api_key}&from={start_date}&to={end_date}'
    
    # Make the API request and retrieve data as JSON
    response = requests.get(url)
    data = response.json()
    
    # Check if 'historical' data is available in the response
    if 'historical' not in data:
        print("No historical data found for this ticker and date range.")
        return pd.DataFrame()  # Return empty DataFrame if no data found
    
    # Convert the 'historical' data to a DataFrame without filtering
    df = pd.DataFrame(data['historical'])
    
    # Convert the 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])
    
    # Filter to include only rows that match the specified year and month
    df = df[(df['date'].dt.year == year) & (df['date'].dt.month == month)]
    
    return df

In [76]:
# stock_history("F",2022,3)

In [77]:
def stock_stats(df):
    """
    Calculates the percent change and total transaction volume for the given DataFrame.
    
    Parameters:
    df (pd.DataFrame): DataFrame containing stock data for a specific month.
    
    Returns:
    tuple: A tuple containing (percent change, total transaction volume) as strings.
    """
    # Ensure the DataFrame has the necessary data
    if df.empty or 'open' not in df.columns or 'close' not in df.columns:
        return ("N/A", "N/A")
    
    # Sort the DataFrame by date to get the first and last records
    df = df.sort_values(by='date')
    
    # Calculate percent change
    start_price = df.iloc[0]['open']
    end_price = df.iloc[-1]['close']
    percent_change = ((end_price - start_price) / start_price) * 100
    percent_change_str = f"{percent_change:+.2f}%"
    
    # Calculate total transaction volume
    total_volume = 0
    for _, row in df.iterrows():
        avg_price = (row['high'] + row['low']) / 2  # Midpoint of high and low
        volume = row['volume']
        total_volume += avg_price * volume  # Transaction volume for the day
    
    # Convert to billions and format as a string
    total_volume_billion = total_volume / 1e9
    total_volume_str = f"{total_volume_billion:.2f}B"
    
    return percent_change_str, total_volume_str

In [78]:
# Example usage
ticker = "BYND"
year = 2019
month = 5

# Get the stock history for the specified month
df = stock_history(ticker, year, month)
((df))# # Calculate the statistics if data is available
# if not df.empty:
#     percent_change, transaction_volume = stock_stats(df)
#     print("Percent Change:", percent_change)
#     print("Transaction Volume:", transaction_volume)
# else:
#     print("No data available for this period.")

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2019-05-31,100.0000,104.5500,97.2600,104.12,104.120003,7733863,7733900,4.1200,4.12000,100.85,"May 31, 19",0.041200
1,2019-05-30,101.8965,105.2500,94.0300,98.59,98.589996,12359807,12359800,-3.3065,-3.24000,99.98,"May 30, 19",-0.032400
2,2019-05-29,90.0500,97.6500,87.3200,97.50,97.500000,8371994,8372000,7.4500,8.27000,92.27,"May 29, 19",0.082700
3,2019-05-28,83.9800,88.8300,83.7000,86.00,86.000000,6604012,6604000,2.0200,2.41000,86.20,"May 28, 19",0.024100
4,2019-05-24,83.9200,85.5000,79.5100,79.67,79.669998,2909494,2909500,-4.2500,-5.06000,82.81,"May 24, 19",-0.050600
5,2019-05-23,79.4000,83.8000,78.1227,82.10,82.099998,4331336,4331300,2.7000,3.40000,80.97,"May 23, 19",0.034000
6,2019-05-22,77.3800,81.7400,77.0000,77.63,77.629997,3898382,3898400,0.2500,0.32308,79.49,"May 22, 19",0.003231
7,2019-05-21,88.0300,88.7500,76.7600,77.50,77.500000,9065090,9065100,-10.5300,-11.96000,80.23,"May 21, 19",-0.119600
8,2019-05-20,88.9000,90.9600,83.1300,86.09,86.089996,5189713,5189700,-2.8100,-3.16000,87.66,"May 20, 19",-0.031600
9,2019-05-17,92.4600,96.6800,85.7100,89.35,89.349998,10718760,10724100,-3.1100,-3.36000,90.67,"May 17, 19",-0.033600
10,2019-05-16,90.1000,96.7845,89.5100,92.92,92.919998,13900335,13900300,2.8200,3.13000,92.52,"May 16, 19",0.031300
11,2019-05-15,79.0000,93.0000,74.5500,86.92,86.919998,18356209,18356200,7.9200,10.03000,85.89,"May 15, 19",0.100300
12,2019-05-14,72.4800,80.7500,71.1200,79.68,79.680000,7079600,7079600,7.2000,9.93000,76.63,"May 14, 19",0.099300
13,2019-05-13,65.4600,71.9600,63.3600,69.50,69.500000,4784517,4784500,4.0400,6.17000,68.91,"May 13, 19",0.061700
14,2019-05-10,69.0900,69.3323,61.6000,66.22,66.220001,4888033,4888000,-2.8700,-4.15000,65.55,"May 10, 19",-0.041500
15,2019-05-09,70.5000,73.2000,67.1000,68.27,68.269997,6284516,6284500,-2.2300,-3.16000,69.02,"May 09, 19",-0.031600
16,2019-05-08,83.6100,85.3800,70.7850,72.25,72.250000,14711809,14711800,-11.3600,-13.59000,78.53,"May 08, 19",-0.135900
17,2019-05-07,77.1400,85.4500,75.0000,79.17,79.169998,16532102,16532100,2.0300,2.63000,80.94,"May 07, 19",0.026300
18,2019-05-06,62.7300,74.8400,62.5000,74.79,74.790001,8746178,8746200,12.0600,19.23000,69.11,"May 06, 19",0.192300
19,2019-05-03,72.0000,74.0000,65.6600,66.79,66.790001,13139367,13139400,-5.2100,-7.24000,69.44,"May 03, 19",-0.072400
20,2019-05-02,46.0000,72.9500,45.0000,65.75,65.750000,23118966,23119000,19.7500,42.93000,59.11,"May 02, 19",0.429300

In [79]:
# don't delete this cell, but do run it -- it is needed for the autograder tests

# public test for stock_history
history = stock_history('BYND', 2019, 6)
print(history.shape
)# public test for stock_stats
stats = stock_stats(history)

(20, 13)

In [80]:
grader.check("q3")

q3 results: All test cases passed!

## Question 4 â€“ Comment Threads ðŸ§µ

You regularly browse [Hacker News](https://news.ycombinator.com/) to keep up with the latest news in tech. One link to a Hacker News article is https://news.ycombinator.com/item?id=18344932. Note that this article has 18 comments and has a `storyid` of 18344932.

The problem now is that you don't have internet access on your phone during your morning commute to work, so you want to save the interesting stories' comment threads beforehand in a CSV. You find their [API documentation](https://github.com/HackerNews/API) and decide to get to work.

Complete the implementation of the function `get_comments`, which takes in a `storyid` and returns a DataFrame of all the comments below the news story. You can ignore "dead" comments(you will know them when you see them), as well as "dead" commentsâ€™ children. **Make sure the order of the comments in your DataFrame is from top to bottom just as you see on the website**. 

The DataFrame that `get_comments` returns should have 5 columns:
1. `'id'`: The unique ID of the comment.
2. `'by'`: The author of the comment.
3. `'text'`: The actual comment.
4. `'parent'`: The unique ID of the comment this comment is replying to.
5. `'time'`: When the comment was created (in `pd.Timestamp` format).

Some guidance:
1. The URL to make requests to is `'https://hacker-news.firebaseio.com/v0/item/{}.json'`, however, the `{}` should be replaced with the ID of the article or page you are trying to access. 
2. Again, do not `import json` â€“ instead, use the `json` method on the Response object you get back.
3. Use depth-first search when traversing the comments tree. You will have to do this manually, since you cannot use Beautiful Soup (which is only for HTML documents, not JSON objects).
4. Make sure the length of your returned DataFrame is the same as value for the `'descendants'` key in the response JSON (both of which correspond to the number of comments for the story).
5. You are allowed to use loops in this function. You may also want to create at least one helper function.

<div class="alert alert-block alert-success">
    You may find <a href="https://www.youtube.com/watch?v=uOfwW-onmpc"><b>this hint video ðŸŽ¥</b></a> helpful!
</div>

In [98]:
# have the json attribute that appears from "DFS'ing" the comments being searched using the kids attribute of comments with replies

story = 18344932 # i.e. args
hh_url = f'https://hacker-news.firebaseio.com/v0/item/{story}.json'



# print(hh_url)

resp_hh = requests.get(hh_url)
hh_tree = resp_hh.json()
print(hh_tree)
# keys to keep in final return df : id, by, text, parent, time
# >>> dict_keys(['by', 'descendants', 'id', 'kids', 'score', 'time', 'title', 'type', 'url'])

# id  obtained from this is title id
# {'by': 'ScottWRobinson', 'descendants': 18, 'id': 18344932, 'kids': [18380397, 18346406, 18348601, 18346750, 18346476, 18346746, 18346388],
# 'score': 47, 'time': 1540987334, 'title': 'TimescaleDB 1.0 Is Production Ready', 'type': 'story', 'url': 'https'}
# ex : {'by': 'valyala', 'id': 18380397, 'parent': 18344932, 'text': 'TimescaleDB is great', 'time': 1541400799, 'type': 'comment'}
# ex_2 : {... "id": 2}
# and so on


def dfs_traverse():
    # TODO
        # need to finish first and actually view wat dead comments are on the example site provided
    # make pointers for wateva kids are discovered
    return None

# def get_comments(storyid):
#     # don't return the "dead" comments in the output df 
#     return None

{'by': 'ScottWRobinson', 'descendants': 18, 'id': 18344932, 'kids': [18380397, 18346406, 18348601, 18346750, 18346476, 18346746, 18346388], 'score': 47, 'time': 1540987334, 'title': 'TimescaleDB 1.0 Is Production Ready', 'type': 'story', 'url': 'https://blog.timescale.com/1-0-enterprise-production-ready-time-series-database-open-source-d32395a10cbf'}

In [99]:
import requests
import pandas as pd
from typing import List, Dict

def get_comment_data(comment_id: int) -> Dict:
    """
    Fetch comment data from Hacker News API for a given comment ID.
    
    Args:
        comment_id (int): The ID of the comment to fetch
        
    Returns:
        dict: Comment data from the API
    """
    url = f'https://hacker-news.firebaseio.com/v0/item/{comment_id}.json'
    response = requests.get(url)
    return response.json()

def traverse_comments(comment_id: int, comments_list: List[Dict]) -> None:
    """
    Recursively traverse comment tree using DFS and collect all valid comments.
    
    Args:
        comment_id (int): Current comment ID to process
        comments_list (list): List to store valid comments
    """
    comment_data = get_comment_data(comment_id)
    
    # Skip if comment is None or dead
    if comment_data is None or comment_data.get('dead', False):
        return
        
    # If it's a valid comment (not the story itself), add it to our list
    if comment_data.get('type') == 'comment':
        comments_list.append({
            'id': comment_data.get('id'),
            'by': comment_data.get('by'),
            'text': comment_data.get('text'),
            'parent': comment_data.get('parent'),
            'time': pd.Timestamp(comment_data.get('time', 0), unit='s')
        })
    
    # Recursively process child comments in order
    for kid_id in comment_data.get('kids', []):
        traverse_comments(kid_id, comments_list)

def get_comments(storyid: int) -> pd.DataFrame:
    """
    Fetch all comments for a given Hacker News story and return them as a DataFrame.
    
    Args:
        storyid (int): The ID of the Hacker News story
        
    Returns:
        pd.DataFrame: DataFrame containing all comments, ordered by DFS traversal
    """
    # First, get the story data
    story_data = get_comment_data(storyid)
    
    # Check if story exists and has comments
    if not story_data or 'kids' not in story_data:
        return pd.DataFrame(columns=['id', 'by', 'text', 'parent', 'time'])
    
    # List to store all comments
    comments_list = []
    
    # Process each top-level comment in order
    for comment_id in story_data['kids']:
        traverse_comments(comment_id, comments_list)
    
    # Create DataFrame from collected comments
    df = pd.DataFrame(comments_list)
    
    # Verify number of comments matches story's descendant count
    # (excluding dead comments)
    expected_count = story_data.get('descendants', 0)
    if len(df) > expected_count:
        # Trim excess comments if necessary
        df = df.head(expected_count)
    
    return df[['id', 'by', 'text', 'parent', 'time']]

In [102]:
get_comments(18344932)

,id,by,text,parent,time
0,18380397,valyala,TimescaleDB is great for storing time series c...,18344932,2018-11-05 06:53:19
1,18346406,msiggy,I&#x27;m excited to give this database a try i...,18344932,2018-10-31 15:20:22
2,18348601,sman393,Can this be used side by side on normal Postgr...,18344932,2018-10-31 19:29:39
3,18348631,RobAtticus,"Yep, absolutely. Regular PostgreSQL tables coe...",18348601,2018-10-31 19:34:52
4,18348984,sman393,Good to hear! how does the current TimescaleDB...,18348631,2018-10-31 20:23:46
5,18349540,RobAtticus,Not sure I follow exactly what you&#x27;re ask...,18348984,2018-10-31 21:47:20
6,18350673,sman393,Alright thanks! I thought I read that Timescal...,18349540,2018-11-01 01:11:59
7,18351061,RobAtticus,It does not support sharding writes across mul...,18350673,2018-11-01 02:35:03
8,18346750,zip1234,How fast is it when it has a TB of data? I rea...,18344932,2018-10-31 15:51:43
9,18347260,nevi-me,I spent about 8 months writing data to TSDB. I...,18346750,2018-10-31 16:47:34
10,18347555,dominotw,They have some numbers on their blog. Its very...,18346750,2018-10-31 17:19:34
11,18346476,dominotw,I evaluated this heavily but had to backoff be...,18344932,2018-10-31 15:27:29
12,18346702,RobAtticus,"Sorry to hear, though I&#x27;d like to mention...",18346476,2018-10-31 15:47:41
13,18347232,grumpydba,"Hi,<p>are the upcoming clustering efforts deve...",18346702,2018-10-31 16:44:39
14,18349689,jason_slack,What were the specs of the machine you were us...,18346476,2018-10-31 22:16:27
15,18346746,athenot,It would be nice if they did a quick compariso...,18344932,2018-10-31 15:51:13
16,18346787,RobAtticus,"We do have comparisons, but judging by their M...",18346746,2018-10-31 15:56:39
17,18346822,athenot,"Thanks a lot, this is useful for comparing.<p>...",18346787,2018-10-31 16:00:29

In [100]:
# don't delete this cell, but do run it -- it is needed for the autograder tests
comments = get_comments(18344932)

In [101]:
grader.check("q4")

q4 results: All test cases passed!

## Congratulations! You're done Lab 6! ðŸ

As a reminder, all of the work you want to submit needs to be in `lab.py`.

To ensure that all of the work you want to submit is in `lab.py`, we've included a script named `lab-validation.py` in the lab folder. You shouldn't edit it, but instead, you should call it from the command line (e.g. the Terminal) to test your work.

Once you've finished the lab, you should open the command line and run, in the directory for this lab:

```
python lab-validation.py
```

**This will run all of the `grader.check` cells that you see in this notebook, but only using the code in `lab.py` â€“ that is, it doesn't look at any of the code in this notebook. If all of your `grader.check` cells pass in this notebook but not all of them pass in your command line with the above command, then you likely have code in your notebook that isn't in your `lab.py`!**

You can also use `lab-validation.py` to test individual questions. For instance,

```
python lab-validation.py q1 q2 q4
```

will run the `grader.check` cells for Questions 1, 2, and 4 â€“ again, only using the code in `lab.py`. [This video](https://www.loom.com/share/0ea254b85b2745e59322b5e5a8692e91?sid=5acc92e6-0dfe-4555-9b6a-8115b6a52f99) how to use the script as well.

Once `python lab-validation.py` shows that you're passing all test cases, you're ready to submit your `lab.py` (and only your `lab.py`) to Gradescope. Once submitting to Gradescope, make sure to stick around until all test cases pass.

There is also a call to `grader.check_all()` below in _this_ notebook, but make sure to also follow the steps above.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()