In [17]:
# Initialize Otter
import otter
grader = otter.Notebook("lab.ipynb")

## Midterm Redemption

### Question 0

The exam redemption consists of 8 questions worth a total of 25 points. Please complete the exam redemption. Here are a few things that differ from the midterm:

To make things work on Gradescope, instead of assigning variables directly using the correct code, you should fill in functions in `lab.py`, just like you would for a normal lab. Each function takes no arguments but should return the value you would normally assign to the variable. Hereâ€™s an example:

In the exam, you wrote:
```python
answer = 1 + 1
```

But in the redemption, you will write:

```python
def answer_function():
    return 1 + 1
```

Please refer to the lab.py file to see the names of the functions corresponding to each question.

Feel free to post any logistical questions about this redemption on Ed, but note that course staff will not answer questions related to how to debug or solve the problems.

Start by running the cell below to import the packages needed for the exam.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from lab import *

In [3]:
import pandas as pd
import numpy as np
import sys
import os
from dsc80_utils import *

## Parks!
Sam is working with a dataset on visits to US National Parks. There are two CSV files that he's working with: `data/parks.csv` and `data/visits.csv`. The columns of each dataset are described below.

`data/parks.csv`:

- `park_id` (`int`): A unique identifier for a park.
- `parkname` (`str`): The name of each park. `NP` is short for National Park. `PRES` is short for Preserve.
- `region` (`str`): The region of the US that the park is in. 
- `state` (`str`): The two-letter abbreviation for the state that the park is in.

`data/visits.csv`:

- `name` (`str`): The full name of the park visitor. You can assume that no two people share the same first and list name.
- `entry` (`datetime64`): The timestamp that the visitor entered the park.
- `duration` (`int`): The number of hours that each person stayed at the park.
- `park_id` (`int`): The park ID that the person stayed at.

Run the cell below to load the two CSV files into two Pandas DataFrames.

In [4]:
parks = pd.read_csv('data/parks.csv')
visits = pd.read_csv('data/visits.csv', parse_dates=['entry'])

In [5]:
parks.head(2)

   park_id   parkname         region state
0      100  Acadia NP      Northeast    ME
1      101  Arches NP  Intermountain    UT

In [6]:
visits.head(2)

             name               entry  duration  park_id
0  Aisha Ishikawa 2024-02-09 14:40:30        44      129
1     Karim Jones 2022-05-29 23:47:48        23      103

Now, run the cell below to define two more dataframes.

In [7]:
df1 = parks.merge(visits, on='park_id', how='inner')
df2 = parks.merge(visits, on='park_id', how='left')

Write Python code below to compute each of the following desired results using the dataframes `parks`, `visits`, `df1`, and `df2`. Unless otherwise stated, all number and boolean results should be numpy types (e.g. `np.float64` instead of `float`).

### Question 1 
**(3 points)**
Fill in `amina_function` so that it
returns the number of times that Amina Garcia visited a national park as 
an `int`.

In [14]:
len(df2[df2["name"] == "Amina Garcia"])

6

In [18]:
def amina_function():
    return 6

In [19]:
grader.check("q1")

q1 results: All test cases passed!

### Question 2
**(4 points)**
Fill in `least_function` so that it
returns the year with the least number of park visits in this dataset.
Your function should return an `int`.

In [33]:
parse_year = df1.copy()
# parse_year.dtypes
parse_year["entry"].dt.year.value_counts()

entry
2021    1034
2022    1029
2020    1019
2023    1008
2024     910
Name: count, dtype: int64

In [31]:
df1.groupby(parse_year["entry"].dt.year).count()["park_id"].sort_values()

entry
2024     910
2023    1008
2020    1019
2022    1029
2021    1034
Name: park_id, dtype: int64

In [34]:
def least_function():
    return 2024

In [35]:
grader.check("q2")

q2 results: All test cases passed!

### Question 3 
**(5 points)**
Fill in `never_function` so that it
returns the names of all national parks that were **never** visited by someone in this dataset.
Your function should return a `numpy` array of strings.
(If all national parks were visited, `never_function` should return an empty numpy array.)

In [68]:
loop = df1["duration"].value_counts().values
# no nan values so duration = 1 no vist?

In [67]:
# for i in loop:
#     print(i)

In [98]:
# df2["entry"].sort_values(ascending=True)[5002]
# is there missing values or not :(

## the rationale without definite NaN if the names for duration ==1 aren't in the rest of properly true for df1 or df2 ?

In [115]:
supposed_not_visit_array = df2[df2["duration"] == 1]["parkname"].unique()
len(supposed_not_visit_array)

39

In [109]:
base_visit = df2[df2["duration"] > 1]["parkname"].unique()

In [124]:
check_single_name = np.append(base_visit, supposed_not_visit_array)

In [135]:
# [ x for x in (check_single_name)]

In [134]:
for col in df2.columns:
    null_sum = df2[col].isnull().sum()
    print(f"Column '{col}' has {null_sum} null values.")

Column 'park_id' has 0 null values.
Column 'parkname' has 0 null values.
Column 'region' has 0 null values.
Column 'state' has 0 null values.
Column 'name' has 2 null values.
Column 'entry' has 2 null values.
Column 'duration' has 2 null values.

      park_id         parkname         region state name entry  duration
1129      114  Death Valley NP   Pacific West    CA  NaN   NaT       NaN
1621      121       Glacier NP  Intermountain    MT  NaN   NaT       NaN

In [146]:
def never_function():
    return df2[df2["entry"].isna() == True]["parkname"].values
    # phrasing to draw out a wrong answer?

In [148]:
type(never_function())

numpy.ndarray

In [149]:
grader.check("q3")

q3 results: All test cases passed!

## Dog-gone data

Sam was analyzing the parks data when his dog Bentley ate his data (again!).
Sam's table is stored in a dataframe called `df` that is now missing some values in the `duration` column.
Your task is to impute the missing duration values as effectively as possible, such that the mean and the variance of the `duration` column after imputation is as close as possible to the original data.
First, start by running the cell below to load in Sam's data.

In [150]:
df = pd.read_csv('data/visits_missing_a.csv')
df

             region  duration  entry_year  entry_month  entry_hour
0         Northeast      31.0        2022           10          13
1         Northeast      53.0        2023            7          16
2         Northeast      13.0        2020           12           7
...             ...       ...         ...          ...         ...
4997  Intermountain      33.0        2022            7           1
4998  Intermountain      42.0        2022            1          14
4999  Intermountain       NaN        2024            1           2

[5000 rows x 5 columns]

## Question 4
**(1 point)**
Fill in `prop_missing_function` so that it
returns the proportion of values that are missing in the `duration` column.
Your function should return a number between 0 and 1.

0.3

In [154]:
def prop_missing_function():
    return (sum(df["duration"].isnull()))/len(df["duration"].isnull())

In [155]:
grader.check("q4")

q4 results: All test cases passed!

### Question 5 
**(2 points)**
We've imported the following functions from `dsc80_utils.py`. 

- `permutation_test(data, col, group_col, test_statistic, N)`
- `diff_in_means(data, col, group_col)`
- `tvd(data, col, group_col)`
- `ks(data, col, group_col)`

As usual, you can view the complete docstrings for these functions by adding a `?` after the function name, for example, by running:

```python
permutation_test?
```

Now, run the following cell, which runs a permutation test for the following hypotheses:

- Null: The distribution of `entry_hour` is the same for park entries in 2020 and the rest of the years.
- Alternative: The distribution of `entry_hour` is different for park entries in 2020.


Using the results from `permutation_test`, compute the p-value for this hypothesis test and return it in `p_val_function()`. Then, fill in `reject_function()`, which returns `True` if you reject the null hypothesis or `False` if you fail to reject the null at the 0.01 significance level.

In [ ]:
grader.check("q5")

### Question 6
**(3 points)** Run a permutation test to determine whether the missingness of `duration` is missing at random (MAR) dependent on `entry_hour`. 

Fill in `hour_pval_function()` so that it returns the p-value for your hypothesis test. Then, fill in `hour_mar_function()` with your conclusion: `True` if `duration` is MAR dependent on `entry_hour` and `False` if not. Use a 0.01 significance level for your hypothesis tests.
Be sure to choose the appropriate test statistic for this hypothesis test.

In [ ]:
grader.check("q6")

### Question 7
**(4 points)** Now, run a permutation test to determine whether the missingness of `duration` is missing at random (MAR) dependent on **any other column** in `df`: `region`, `entry_year`, and `entry_month`. Use a 0.01 significance level.

For each permutation test, choose the appropriate test statistic, and return your p-values as a dictionary from the function `pvals_function()`. The returned dictionary should have one key for each column (`region`, `entry_year`, and `entry_month`). Each value in the dictionary should be the p-value for the hypothesis test to determine whether `duration` is MAR on that column.

`pvals_function()` should return a dictionary with these keys (and different values):

```python
{
    'region': 0.02,
    'entry_year': 0.50,
    'entry_month': 0.70
}
```

Then, fill in `mar_cols_function` so that it returns a dictionary that marks all the columns that the `duration` column is MAR on (`True` if `duration` is MAR on that column and `False` if not).

`mar_cols_function()` should return a dictionary with these keys (and different values):

```python
{
    'region': True,
    'entry_year': False,
    'entry_month': True,
}
```

In [146]:
## don't delete this cell, but do run it -- it is needed for the autograder tests
mar_cols = mar_cols_function()
pval = pvals_function()

In [ ]:
grader.check("q7")

## Question 8
**(3 points)** Fill in `df_imputed_function()`, which should impute the missing `duration` values using probabilistic imputation, **conditional on the columns that `duration` is MAR on**.
You should make use of the `prob_impute` function defined below (which is copied directly from lecture).

`df_imputed_function()` should return a copy of `df` with one extra column called `imputed` containing the imputed duration values.

In [159]:
## don't delete this cell, but do run it -- it is needed for the autograder tests
np.random.seed(42)
df_imputed = df_imputed_function()

In [ ]:
grader.check("q8")

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()